{% extends "user_profile/account_general.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Zmień hasło
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


    {% block title_profile %}
        Ustawienia konta - Hasło
    {% endblock title_profile %}

    {% block profile-content %}


    {% block msg %}
        {% if messages %}
            {% for message in messages  %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-danger{% endif %} m-3" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock msg %}

    <div class="tab-pane">
        <div class="card-body pb-2">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    
                    {{form.old_password|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.new_password1|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.new_password2|as_crispy_field}}
                </div>
                <button type="submit" class="btn btn-outline-light border-2 rounded-pill">Zapisz</button>
                <hr>
            </form>
                <ul class="list-group list-group password-info">
                    <li class="list-group-item">Hasło nie może być zbyt podobne do innych danych osobowych.</li>
                    <li class="list-group-item">Hasło musi zawierać co najmniej 8 znaków.</li>
                    <li class="list-group-item">Hasło nie może być powszechnie używanym hasłem.</li>
                    <li class="list-group-item">Hasło nie może składać się wyłącznie z cyfr.</li>
                </ul>

        </div>
    </div>
      
    {% endblock profile-content %}

