{% extends "user_profile/account_general.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Zmień hasło
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


    {% block title_profile %}
        Ustawienia konta - Hasło
    {% endblock title_profile %}

    {% block profile-content %}
    <div class="tab-pane">
        <div class="card-body pb-2">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    
                    {{form.old_password|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.new_password1|as_crispy_field}}
                </div>
                <div class="form-group">
                    {{form.new_password2|as_crispy_field}}
                </div>
                <button type="submit" class="btn btn-primary  ">Zapisz</button>
            </form>
        </div>
    </div>
      
    {% endblock profile-content %}

