{% extends "user_profile/account_general.html" %}


{% block title %}
    Zmień hasło
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


    {% block title_profile %}
        Ustawienia konta - Hasło
    {% endblock title_profile %}

    {% block profile-content %}
    <div class="tab-pane">
        <div class="card-body pb-2">
            <div class="form-group">
                <label class="form-label">Current password</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">New password</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label">Repeat new password</label>
                <input type="password" class="form-control">
            </div>
        </div>
    </div>
      
    {% endblock profile-content %}

