{% extends "user_profile/account_general.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Info
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}

    {% block title_profile %}
        Ustawienia konta - Informacje
    {% endblock title_profile %}


    {% block profile-content %}

    {% block msg %}
        {% if messages %}
            {% for message in messages  %}
            <div class="alert alert-success  m-3" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endblock msg %}

    <div class="tab-pane" id="account-info">
        <div class="card-body pb-2">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-outline-light border-2 rounded-pill">Zapisz</button>
            </form>


        </div>
    </div>
      
    {% endblock profile-content %}

