*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
    width: 12px; /* Szerokość paska przewijania */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Kolor samego paska */
    border-radius: 6px; /* Zaokrąglenie rogów paska */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Kolor tła paska przewijania */
    border-radius: 12px; /* Zaokrąglenie rogów tła paska */
}

.bg {
    background-color: #121212 !important; 
    color: white;
}

.main-container{
    display: flex;
    justify-content: center;

}

.navbar{
    height: 76px !important;
}
.nav-link {
    color: white !important;
}

.login-icon {
    padding-left: 16px !important;
    padding-right: 48px !important;
}

.login-icon:hover {
    background-color: white;
    color: black !important;
}

.new_team{
    height: 45px;
    width: 190px !important;
}

.fa-user, .fa-people-group {
    position: absolute !important;
    padding: 12px !important;
    right: -1px !important;
    background-color: #121212;
    color: white !important;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.asteriskField {
     display: none !important;
}

.image-page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-position: center;
    background-image: url("../images/background.png");
    background-size: cover; 
    background-position: center; 
    
}

.btn_link{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
}

.btn_back_home{

    position: absolute;
    bottom: 37px;
    margin: 15px;

}

.registration-layout{
    height: 100vh;
    align-items: center;
}

.form-layout{
    width: 350px;

}

.btn-submit{
    height: 47px;
    padding-left: 16px !important;
    padding-right: 50px !important;
}



.button-icon{
    position: absolute !important;
    padding: 12px !important;
    right: -2px !important;
    background-color: #121212;
    color: white !important;
}



.form-layout form input, .form-layout form select {
    background-color:#292929 ;
    border: none;
    color: white;
    border-bottom: solid 2px #373737;
}

.form-layout form input:focus, .form-layout form select:focus {
    background-color:#292929;
    color: white;
    border-bottom: solid 2px rgb(167, 167, 167);
    outline: none;
    box-shadow: 0 0 10px rgba(167, 167, 167);
}



.form-text{
    display: none;
}

.img-profile{
    width: 40px ;
    height: 40px;
    object-fit: cover;
    border: 3px solid white;
}


.modal-content{
    background-color: #121212 !important;
}


.team-link{
    text-decoration: none;
    color: white;
}

.custom-border {
    position: relative;
    width: 220px !important;
    height: 220px !important;
    border-radius: 20px;
    padding: 11px;
}

.custom-border h5 {
    font-size: 35px !important;
}

.custom-border:hover{
    background-color: #373737;
}

.custom-border::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 20%;
    border-right: 4px solid white;
    border-top: 4px solid white;
    box-sizing: border-box; 
    border-top-right-radius: 20px;
}

.custom-border::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 20%;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    box-sizing: border-box;  
    border-bottom-left-radius: 20px;      
}

.alert-success{
    background-color: rgb(157, 255, 157) !important;
}

.alert-danger{
    background-color: rgb(249, 84, 84) !important;
}

.error-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-font{
    font-size: 150px;
    font-weight: bold;
}

.confirm-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.confirm-div form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(52, 52, 52) !important;
}