

.team-container{
    height: calc(100vh - 76px);
    background-color: #222222;


}

.team-col{
    border-radius: 20px;
    width: 80% !important;
    margin-right: 40px;
    padding: 20px;
}

.nav-tabs .nav-link.active{
    /* background-color: #373737 !important; */
    color: black !important;
    font-weight: 700 !important;
}

.members-col{
    box-shadow: 0 0 20px rgb(52, 52, 52) !important;
    max-height: 780px !important;
    border-radius: 20px;
    padding: 20px;
    overflow:auto;
    margin-top: 20px !important; 
}

.members-col::-webkit-scrollbar{
    display: none;
}

.members-col .row {
    margin: 10px 10px 10px 0;
}

.member-name {
    font-size: 24px;
    width: auto;
    padding: 8px;
    position: relative;
}

/* .member-name::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    border-right: 2px solid white;
    border-top: 2px solid white;
    box-sizing: border-box; 
    border-top-right-radius: 12px;
}

.member-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 50%;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;  
    border-bottom-left-radius: 20px;      
} */

.member-name:hover{
    background-color: #373737;
    border-radius: 12px;
}

form input, form select {
    background-color:#292929 !important;
    border: none !important;
    color: white !important;
    border-bottom: solid 2px #373737!important;
}

form input:focus, form select:focus{
    background-color:#292929!important;
    color: white!important;
    border-bottom: solid 2px rgb(167, 167, 167)!important;
    outline: none!important;
    box-shadow: 0 0 10px rgba(167, 167, 167)!important;
}

.my-shadow{
    box-shadow: 0 0 20px rgb(52, 52, 52) !important;
    border-radius: 20px;
    margin-left: 50px;
}

.trash-icon{
    color: white !important;
    padding: 6px;
    cursor: pointer;
}

.trash-icon:hover{
    background-color: #373737;
}

.delete-btn{
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
}

.div-perms{
    overflow-y: auto;
}