{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Error 404
{% endblock title %}


    
{% block content %}

    <div class="error-div">
        <h1>Coś poszło nie tak!</h1>
        <span class="error-font">
            404
        </span>
        <h3>Strona niezaleziona</h3>
        <a  href="{% url 'home' %}"
            class="nav-link border border-2 border-light rounded-pill d-flex justify-content-center align-items-center gap-3 position-relative login-icon new_team" type="button">Strona główna<i class="fa-solid fa-house border border-2 border-light rounded-circle position-absolute button-icon"></i>
        </a>
    </div>

{% endblock %}      