{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Strona główna
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block content %}

    <div class="container">
        <div class="row mb-5 d-flex justify-content-center mt-5">
            <div class="col-12 d-flex justify-content-center">
                <button
                    class="nav-link border border-2 border-light rounded-pill d-flex justify-content-center align-items-center gap-3 position-relative login-icon new_team" type="button" data-bs-toggle="modal" data-bs-target="#newTeamModal">Nowy zespół<i class="fa-solid fa-people-group border border-2 border-light rounded-circle position-absolute"></i>
                </button>
            </div>
            
        </div>

        <!-- Modal -->
        <div class="modal fade " id="newTeamModal" tabindex="-1" aria-labelledby="newTeamModal" aria-hidden="true">
            <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header" data-bs-theme="dark">
                <h1 class="modal-title fs-5" id="newTeamModal">Utwórz nowy zespół</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="form-layout w-100 ">
                    <form method="POST">
                        <div class="modal-body ">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-light border-2 rounded-pill">Utwórz zespół</button>
                        </div>
                    </form>    
                </div>
                
            </div>
            </div>
        </div>

        <div class="row p-5">
            
            {% if teams %}
            <h2 class="mb-5">Twoje zespoły</h2>
                {% for team in teams %}
                    {% if user in team.members.all %}
                        <div class="col-3 mb-4">
                            <a href="{% url 'team_files' team.id %}" class="team-link">
                                <div class="custom-border align-items-center d-flex justify-content-center ">
                                    <h5>
                                        {{ team.name }}
                                    </h5>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <h2 class="mb-5">Brak zespołów</h2>
            {% endif %}
        </div>
    </div>



{% endblock content %}