


<nav class="navbar navbar-expand-lg my-nav text-light justify-content-center position-relative p-3 z-3">
  <div class="d-flex justify-content-between w-100 align-items-center">
    <a class=" nav-link" href="/">LOGO LOGO</a>
    <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center border border-2 border-light rounded-pill px-4 gap-3 ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <div class="navbar-nav ">
      {% if user.is_authenticated %}
          <div class="nav-item dropdown ml-auto">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              <img src="{{ user.profile.image.url }}" class="rounded-circle img-profile">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right">
              <li><a class="dropdown-item" href="{% url 'account-general' %}">Profil</a></li>
              <li><a class="dropdown-item" href="#">Twoje zespoły</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'user-logout' %}">Wyloguj się</a></li>
            </ul>
          </div>
      {% else %}
      <a
        class="nav-link border border-2 border-light rounded-pill d-flex justify-content-center align-items-center gap-3 position-relative login-icon"
        href="{% url 'my-login' %}">Login<i class="fa-solid fa-user border border-2 border-light rounded-circle position-absolute"></i></a>
      {% endif %}
    </div>
  </div>
</nav>