{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Potwierdz hasłem
{% endblock title %}


    
{% block content %}

<div class="confirm-div">
    <h2 class="mb-5">Potwierdz akcje hasłem!</h2>
    <form method="POST" id="password-form">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" value="Submit" class="btn btn-outline-light border-2 rounded-pill">Potwierdz</button>
    </form>
    
    <a href="{% url 'team_files' team.id %}" class="btn btn-outline-light border-2 rounded-pill btn_back_home" role="button">Powrót</a>
</div>



{% endblock %}      