{% extends "teams/team_board.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Zespół {{ team.name }}
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block team-content %}


    <div class="container-fluid div-perms">
        <div class="row w-75">
            {% if messages %}
                    {% for message in messages  %}
                        <div class="alert alert-success  m-3" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
            {% endif %}
        </div>
        
        {% for user_form in forms %}
        <div class="row p-3">
            <div class="col-3">
                <img src="{{ user_form.fields.image.initial }}" class="img-profile-perms">
                <span  class="user-name-perms">{{ user_form.fields.full_name.initial }}</span>
            </div>
            <div class="col-3 mb-4">
                <form method="post">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    <button type="submit" class="btn btn-outline-light border-2 rounded-pill">Zapisz</button>
                </form>
            </div>
            <hr>
        </div>
       
        {% endfor %}
    </div>
    
    
   

{% endblock %}