{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Zespół {{ team.name }}
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block content %}

<div class="container-fluid team-container ">
  <h3 class="mt-3">Jesteś w zespole - <strong>{{team.name}}</strong> </h3>
    <div class="row ">
        <div class="col-10 team-col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'team_board' team.id %}">Tablica</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'team_files' team.id %}">Pliki</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'team_add_file' team.id %}">Prześlij pliki</a>
                </li>

                {% if 'manage_perms' in user_permissions %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'team_members' team.id %}">Zarządzaj użytkownikami</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'team_permission' team.id %}">Uprawnienia</a>
                  </li>
                  {% elif 'delete_member' in user_permissions and 'add_new_member' in user_permissions %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'team_members' team.id %}">Zarządzaj użytkownikami</a>
                  </li>
                {% endif %}

                {% if  'view_logs' in user_permissions %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'team_logs' team.id %}">Aktywność</a>
                </li>
                {% endif %}

                {% if 'change_team' in user_permissions %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'team_manage' team.id %}">Zarządzaj zespołem</a>
                  </li>
                {% endif %}
              </ul>
            <div class="team-content">
              {% block team-content %}


                  <div class="container-fluid div-board">
                    <div class="row team-messages" id="chat">
                      {% for msg in team_messages %}
                        <div class="inbox-message">
                          <ul>
                            <li>
                                <div class="message-avatar">
                                  <img src="{{ msg.author.profile.image.url }}" alt="">
                                </div>
                                <div class="message-body">
                                  <div class="message-body-heading">
                                    <h5>{{ msg.author.get_full_name }}</h5>
                                  </div>
                                  <div class="msg-content">
                                    <p>{{ msg.content }}</p>
                                  </div>
                                  <span class="upload-date">{{msg.upload_date|date:"d.m.Y"}}, {{msg.upload_date|time:"H:i"}}</span>
                                  {% if  user == msg.author %}
                                    <div class="delete-msg">
                                      <a href="{% url 'remove_message' team.id msg.id %}"><i class="fa-solid fa-x"></i></a>
                                    </div>
                                  {% endif %}
                                </div>
                            </li>
                          </ul>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="row w-100">
                      <form method="POST" class="send-msg row">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                      </form>
                    </div>
                  </div>

              {% endblock team-content %}
            </div>
        </div>
        <div class="col-2 members-col" >
            <h5 class="text-center ">Członkowie</h5>
          {% for member in members %}
            <div class="row d-flex align-items-center ">
                <div class="member-name d-flex justify-content-between ">
                    <div>
                      <img src="{{ member.user.profile.image.url }}" class="rounded-circle img-profile">
                      {{member.get_fullname_member}}
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
      var currentUrl = window.location.href;

      $('.nav-tabs a').each(function () {
          var linkUrl = $(this).attr('href');

          if (currentUrl.indexOf(linkUrl) !== -1) {
              $(this).addClass('active');
          }
      });
  });

  var objDiv = document.getElementById("chat");
  objDiv.scrollTop = objDiv.scrollHeight;

</script>

{% endblock content %}