{% extends "teams/team_detail.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Zespół {{ team.name }}
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block team-content %}

<h1>PLIKI</h1>

<table class="table table-striped table-dark ">
  <thead>
    <tr>
      <th class="col-3" scope="col">Nazwa</th>
      <th class="col-4" scope="col">Opis</th>
      <th class="col-2" scope="col">Data dodania</th>
      <th class="col-2" scope="col">Dodane przez</th>
      <th class="col-1 text-center " scope="col">Pobierz</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
      <tr>
        <td>{{file.get_file_name}}</td>
        <td>{{file.description}}</td>
        <td>{{file.upload_date|date:"d.m.Y"}}, {{file.upload_date|time:"H:i"}}</td>
        <td>{{file.author}}</td>
        <td><a href="{% url 'download_file' file.id %}" class="d-flex justify-content-center text-white" target="_blank"><i class="fa-solid fa-download"></i></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}