{% extends "teams/team_detail.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Zespół {{ team.name }}
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block team-content %}

<h1>PLIKI</h1>

<table class="table table-striped table-dark ">
  <thead>
    <tr>
      <th class="col-2" scope="col">Nazwa</th>
      <th class="col-3" scope="col">Opis</th>
      <th class="col-2" scope="col">Data dodania</th>
      <th class="col-1" scope="col">Dodał</th>
      <th class="col-1" scope="col">Wersja</th>
      <th class="col-2" scope="col">Edytowane przez</th>
      <th class="col-1 text-center" scope="col">Akcja</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
      <tr>
        <td>{{file.get_file_name}}</td>
        <td>{{file.description}}</td>
        <td>{{file.upload_date|date:"d.m.Y"}}, {{file.upload_date|time:"H:i"}}</td>
        <td>{{file.author}}</td>
        <td>{{file.version}}</td>
        <td>
          {% if file.last_editor %}
            {{ file.last_editor.get_full_name }}
          {% else %}
              Brak
          {% endif %}
        </td>
        <td class="d-flex justify-content-around  ">
            <a href="{% url 'edit_file' team.id file.id %}" class="text-white"><i class="fa-solid fa-file-pen"></i></a>
          {% if user == file.author %}
          <a  data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"><i class="fa-solid fa-trash"></i></a>

          <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Usuń...</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="idDeleteModalBody">
                  Plik <strong>"{{file.get_file_name}}"</strong> zostanie usunięty!
                </div>
                <div class="modal-footer">
                  <form method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-danger" value="{{file.id}}" name="file-id">Usuń</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          {% endif %}
          <a href="{% url 'download_file' file.id %}" class="text-white" target="_blank"><i class="fa-solid fa-download"></i></a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>






{% endblock %}