{% extends "teams/team_board.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Zespół {{ team.name }}
{% endblock title %}

{% block navbar %}
    {% include 'main/navbar.html' %}
{% endblock navbar %}


{% block team-content %}



<div class="row mt-5">
    <div class="col-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-light border-2 rounded-pill">Dodaj</button>
        </form>
    </div>
    <div class="col-6 p-4 my-shadow">
        <h4 class="mb-3">Wcześniej przesłane przez ciebie pliki...</h4>
        <div class="row">
            {% for file in user_files %}
              <p>{{file.get_file_name}}</p>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}