{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Konto zablokowane
{% endblock title %}


    
{% block content %}

    <div class="error-div">
        <h3 class="mb-5">Konto zablokowane: zbyt wiele prób logowania. Skontaktuj się z administratorem, aby odblokować konto.</h3>
        <a  href="{% url 'home' %}"
            class="nav-link border border-2 border-light rounded-pill d-flex justify-content-center align-items-center gap-3 position-relative login-icon new_team" type="button">Strona główna<i class="fa-solid fa-house border border-2 border-light rounded-circle position-absolute button-icon"></i>
        </a>
    </div>

{% endblock %}      